apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
resources:
- ../../base
images:
- name: PROJECT/TODO_APP
  newName: gcr.io/dwk-gke-482214/todo-app
  newTag: c8ddac83e56eb80a09b8ace9a6a301a260e1833a
